<div class="container bg-light">
      <h3>Porfolio</h3>
      <p><small>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                  Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                  commodo.</small></p>
                        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                  <div class="card">
                        <img src="website/image/big-project-image.png" class="card-img-top" alt="ErRor">
                        <div class="card-body">
                              <h5 class="card-title">Project Name</h5>
                              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vierra
                                    euismod odia, gravida pellentesque urna varius vitae.
                              </p>
                        </div>
                  </div>
            </div>
            <div class="col">
                  <div class="card">
                        <img src="website/image/big-project-image.png" class="card-img-top" alt="ErRor">
                        <div class="card-body">
                              <h5 class="card-title">Project Name</h5>
                              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vierra
                                    euismod odia, gravida pellentesque urna varius vitae.</p>
                        </div>
                  </div>
            </div>
            <div class="col">
                  <div class="card">
                        <img src="website/image/big-project-image.png" class="card-img-top" alt="ErRor">
                        <div class="card-body">
                              <h5 class="card-title">Project Name</h5>
                              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vierra
                                    euismod odia, gravida pellentesque urna varius vitae.</p>
                        </div>
                  </div>
            </div>
      </div>
</div>